<h1>{{page.title}}</h1>

{{page.description}}

<ul>
    {% assign endpoints=site.docs | where: "type", {{page.name}} %}
    {% for endpoint in endpoints %}
    <li><a href="{{site.baseurl}}/docs/{{page.name}}/{{endpoint.name}}">
        {% if endpoint.tags contains "endpoint" %}{{endpoint.method}} /{{page.name}}/{{endpoint.name}}{% else %}{{endpoint.title}}{% endif %}
    </a></li>
    {% endfor %}
</ul>